<button class="btn btn-success" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="addContactCollapse"><i class="fas fa-user-plus"></i> Add</button>
<p>
</p>
  <div class="add-contact" [ngbCollapse]="isCollapsed">
    <app-contact-input-template [formReset]="shouldResetForm" (inputConfirmed)="createNewContact($event)"></app-contact-input-template>
  </div>

<table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date of birth</th>
        <th>Address</th>
        <th>Telephone numbers</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td> {{contact.id}} </td>
        <td> {{contact.name}} </td>
        <td> {{contact.dateOfBirth2String}} </td>
        <td> {{contact.address2String}} </td>
        <td> {{contact.telephoneNumbers2String}} </td>
        <td><button class="btn btn-primary" [routerLink]="['/contacts/',contact.id]"><i class="fas fa-user-edit"></i></button></td>
      </tr>
    </tbody>
  </table>